.input {
  display: inline-flex;
}
.input * {
  height: 30px;
  border: 1px solid rgba(0, 0, 0, 0.349);
  outline: none;
  border-radius: 15px;
  background: white;
}
.input input {
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
  padding-left: 20px;
}
.input button {
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;
  border-left: none;
  cursor: pointer;
  padding: 0 5px;
}
.input button:hover {
  background: #b2dd13;
}
.input button:disabled:hover {
  background: white;
  cursor: not-allowed;
}
