.btn {
  background: none;
  border: none;
  font-size: 20px;
  color: #37392e;
  /* vertical-align: middle; */
  cursor: pointer;
  transition: opacity 0.5s;
  /* display: block; */
  display: flex;
  align-items: flex-end;
  margin: 0 auto;
}
.btn ion-icon {
  margin-right: 10px;
  font-size: 32px;
  color: #28afb0;
}
.btn:focus,
.btn:active {
  border: none;
  outline: none;
}

.btn:hover {
  background: #37392e1a;
}
.btn:disabled {
  cursor: not-allowed;
  opacity: 0.4;
}
.btn:disabled:hover {
  background: none;
}
